{% extends 'layouts/base.html' %}
{% load i18n %}
{% load static %}
{% load bootstrap5 %}
{% block head-meta %}
<!DOCTYPE html>
<html lang="en">
<head>
  	<meta charset="utf-8">
  	<!--Add keywords that describe your project between the quotation marks. This helps search engines find and index your content-->
    <meta name="keywords" content="WebPres.org , Post List.">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    <meta charset="UTF-8">
     {% block bootstrap5_title %} Post List | WebPres.org{% endblock %}
</head>


{% block content %}
{% block bootstrap5_head %}

  <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Late News</h1>
        <p class="col-md-8 fs-4">WebPres is new born but lightweight, creative and modern web.</p>



{% endblock %}
{% for post in posts %}

<div class="card mb-3" style="max-width: 540px;">
  <div class="card-body" style="">
    <ul class="post-meta" style="list-style-type: none; padding-left: 0px;">
        <li><i class="fa fa-tag"></i><a><strong>Categories:</strong> {{post.category}}</a></li>
        <li><i class="fa fa-comment"></i><a>{{ post.comments.all.count }} Comments</a></li>
        <li><i class="fa fa-user"></i><a><strong>Post By : </strong>{{post.author.username}}</a></li>
        <li><i class="fa fa-clock-o"></i><a>{{post.post_date | date:'d F'}}</a></li>
    </ul>
       <a style="text-decoration:none; color:black" href="{% url 'blog-detail' post.slug %}"><h5 class="card-title">{{post.title}}</h5></a>
       <img src="{{post.img.url}}" class="card-img-top" alt="">
       <p class="card-text">{{post.body | slice:':250' | safe}}...</p>
       <a href="{% url 'blog-detail' post.slug %}"><button type="button" class="btn btn-lg btn-dark">Read More</button></a>


         </div>
      </div>
  </div>


{% endfor %}
{% include "legal/copyrights.html" %}
{% endblock %}
