{% extends 'layouts/base.html' %}
{% load i18n %}
{% load static %}
{% load bootstrap5 %}
{% block head-meta %}
<!DOCTYPE html>
<html lang="en">
<head>
  	<meta charset="utf-8">
  	<!--Add keywords that describe your project between the quotation marks. This helps search engines find and index your content-->
    <meta name="keywords" content="WebPres.org , Login.">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    <meta charset="UTF-8">
     {% block bootstrap5_title %} Blog Post | WebPres.org{% endblock %}
</head>
{% block title %}
<title>Login</title>
{% endblock %}
{% block content %}
<form style="margin-top: 300px;" action="" method="POST">
  {% csrf_token %}
    <div class="form-group">
      <label for="exampleInputEmail1">Username</label>
      <input type="text" class="form-control" placeholder="Enter username" name="username">
      <small id="emailHelp" class="form-text text-muted">We'll never share your credentials with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" placeholder="Password" name="password">
    </div>
    <button style='margin-top:20px' type="submit" class="btn btn-dark">Submit</button>
</form>
{% for message in messages %}
	<h5 style="margin-top: 10px; color:red">{{message}}</h5>
{% endfor %}
{% endblock %}

{% block sidebar %}
{% include "legal/copyrights.html" %}
{% endblock %}