{% extends 'layouts/base.html' %}
{% load i18n %}
{% load static %}
{% load bootstrap5 %}
{% block head-meta %}
<!DOCTYPE html>
<html lang="en">
<head>
  	<meta charset="utf-8">
  	<!--Add keywords that describe your project between the quotation marks. This helps search engines find and index your content-->
    <meta name="keywords" content="WebPres.org , Logout.">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    <meta charset="UTF-8">
     {% block bootstrap5_title %} Blog Post | WebPres.org{% endblock %}
</head>
{% block title %}
<title>Logout</title>
{% endblock %}
{% block content %}
<h3 style="margin-top: 300px;">Your have been sucessfully logged out.</h3>
<button class="btn btn-lg btn-dark" onclick="window.location.href='/login';" style='margin-right:10px; margin-top:6px; margin-bottom:6px;'>Login</button>
{% endblock %}

{% block sidebar %}
{% include "legal/copyrights.html" %}
{% endblock %}