{% extends "layouts/base.html" %}
{% load i18n %}
{% load static %}
{% load bootstrap5 %}
{% block head-meta %}
  	<meta charset="utf-8">
  	<!--Add keywords that describe your project between the quotation marks. This helps search engines find and index your content-->
    <meta name="keywords" content="WebPres.org , Opensource CMS Site builder.">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Facebook -->
    <meta property="og:url"                content="https://www.webpres.org/" />
    <meta property="og:type"               content="home" />
    <meta property="og:title"              content="Hello World WebPres" />
    <meta property="og:description"        content="WebPres is a Lightweight website builder ever. WebPres is build in Python is the most popular programming language in the world" />
    <meta property="og:image"              content="https://scontent.fmel14-1.fna.fbcdn.net/v/t39.30808-6/271831274_106187468626862_4528830638432417584_n.png?_nc_cat=110&ccb=1-5&_nc_sid=730e14&_nc_ohc=krUprzrgUFEAX-KCKWn&_nc_ht=scontent.fmel14-1.fna&oh=00_AT-ztPkwek43N1ADmkFoxMXZUIKx9ogEv0RTYjbgVb4-pw&oe=61E6277D" />
    {% endblock %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WebpPres.org</title>
     {% block bootstrap5_title %} Hello World | WebPres.org{% endblock %}
</head>
<body>

{% block content %}

<main>
    <h1>Get started with WebPres</h1>
    <p class="fs-5 col-md-8">WebPres is Bootstrap's compiled,Create New Page in a second from your blog post.</p>

    <div class="mb-5">
      <a href="https://github.com/WebPres-org/v1.0" class="btn btn-info btn-sm px-4">Download WebPres</a>
    </div>

    <hr class="col-3 col-md-2 mb-5">

    <div class="row g-5">
      <div class="col-md-6">
        <h2>How to get Started?</h2>
        <p>Head up to the Docs Menu above.</p>
        <p>Before you can use WebPres, you’ll need to install it. Our complete installation guide covers all the possibilities; this guide will get you to a simple, minimal installation that’ll work while you walk through the introduction.</p>
        <ul class="icon-list">
          <li><a href="https://docs.webpres.org/" rel="noopener" target="_blank">Documentation</a></li>
        </ul>
      </div>

      <div class="col-md-6">
        <h2>Bootstrap Guides</h2>
        <p>Read more detailed instructions and documentation on using or contributing to Bootstrap.</p>
        <ul class="icon-list">
          <li><a href="https://getbootstrap.com/docs/5.1/getting-started/introduction/">Bootstrap quick start guide</a></li>
          <li><a href="https://getbootstrap.com/docs/5.1/getting-started/webpack/">Bootstrap Webpack guide</a></li>
          <li><a href="https://getbootstrap.com/docs/5.1/getting-started/parcel/">Bootstrap Parcel guide</a></li>
          <li><a href="https://getbootstrap.com/docs/5.1/getting-started/contribute/">Contributing to Bootstrap</a></li>
        </ul>
      </div>
    </div>
  </main>
</div>


<!----Featured-->
<div class="container px-4 py-5" id="icon-grid">
    <h2 class="pb-2 border-bottom">WebPres's Featured</h2>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
      <div class="col d-flex align-items-start">
        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#bootstrap"/></svg>
        <div>
          <h4 class="fw-bold mb-0">Bootrapv5</h4>
          <p>WebPres v.1.0.is built with Bootrapv5.0</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#cpu-fill"/></svg>
        <div>
          <h4 class="fw-bold mb-0">Languages</h4>
          <p>Python.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#calendar3"/></svg>
        <div>
          <h4 class="fw-bold mb-0">Backend</h4>
          <p>DB Migrations.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#home"/></svg>
        <div>
          <h4 class="fw-bold mb-0">Hosting</h4>
          <p>Possibly Host on your own or by WebPres's App.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#speedometer2"/></svg>
        <div>
          <h4 class="fw-bold mb-0">Domain</h4>
          <p>Custom Domain.</p>
            <p>Domain Wildcard</p>

        </div>
      </div>
      <div class="col d-flex align-items-start">
        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#toggles2"/></svg>
        <div>
          <h4 class="fw-bold mb-0">SSL</h4>
          <p>Secured your site by SSL protection.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#geo-fill"/></svg>
        <div>
          <h4 class="fw-bold mb-0">Browser</h4>
          <p>WebPres works for all browsers.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#tools"/></svg>
        <div>
          <h4 class="fw-bold mb-0">Documentation</h4>
          <p>Available on WebPres's homepage links.</p>
        </div>
      </div>
    </div>
  </div>
<div class="container">
    <div class="alert alert-info text-center" role="alert">
    To deploy your own copy, and learn the how to deploy and host site on your own server, head over to the <a href="https://github.com/WebPres-org/v1.0" class="alert-link">Get Started</a>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span>fork or Download WebPres</h3>
      <ul>
        <li>Fork & Vote a start at <a href="https://github.com/WebPres-org/v1.0">Github</a> Webpres V1.0.</li>

        <li>How to <a href="">get started</a></li>
        <li>Host your site with us. Free consultancy</li>
        <li>Manage Server on your own <a href="https://bigwebx.com/index.php?rp=/store/deploy-modern-app">Check out.</a></li>
      </ul>
    </div>



    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Install WebPres on Your Own Server</h3>
      <ul>
        <li>If you are following the <a href="https://github.com/WebPres-org/v1.0"  <li class="nav-item">
Getting Started</a> guide, then please head back to the tutorial and follow the next steps!</li>
        <li>Deploy your app by stackscript: or clone from </li>
        <ul>
          <li><code>https://github.com/WebPres-org/v1.0.git</code> - this will create a local copy of the source code for the app</li>
          <li><code>cd WebPres</code> - change directory into the local source code repository</li>
          <li>No server yet? <a href="https://bigwebx.com/index.php?rp=/store/deploy-modern-app">Check out</a> price on Bigwebx</li>
        </ul>
      </ul>
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href="">Developer Team</a></li>
        <li><a href="http://forum.webpres.org/">WebPres Forum</a></li>
        <li><a href="http://www.webpres.org/">Download Cms WebPres Site Builder</a></li>
        <li><a href="https://docs.webpres.org/en/latest/">WebPres Documentations</a></li>
      </ul>
    </div>
  </div> <!-- row -->
<h3>{{ copyrights }}</h3>
</div>

{% include "includes/footer/sponsored_by.html" %}
{% include "includes/footer/people_by.html" %}
{% include "layouts/quick_links.html" %}
{% include "legal/copyrights.html" %}
{% endblock %}
</body>
</html>