{% block footer %}
{% load static %}
</br>
</br>
</br>
</br>



<div class="container flex">

    <hr />

     <div class="row ">
        <div class="col">
            <div class="col"><p><strong>Blog</strong></p>
              <a href="post/" class="text-decoration-none text-muted">Read Post </a><br>
              <a href="post/create/" class="text-decoration-none text-muted">Create Post </a>

            </div>
        </div>

        <div class="col">
            <div class="col"><p><strong>Docs</strong></p>
              <a href="https://docs.webpres.org/" class="text-decoration-none text-muted ">Documentation </a><br>
              <a href="{% url 'v1' %}" class="text-decoration-none text-muted">Downloads </a><br>
              <a href="https://github.com/ronyman-com/WebPres/releases/tag/WebPres" class="text-decoration-none text-muted">Fork </a>
            </div>
        </div>
<br>
        <div class="col">
            <div class="col"><p><strong>Addon</strong></p>
              <a href="https://bigwebx.com/" class="text-decoration-none text-muted">Domains </a><br>
              <a href="https://bigwebx.com/" class="text-decoration-none text-muted">Hosting </a><br>
                <a href="https://bigwebx.com/" class="text-decoration-none text-muted">Custom Website </a><br>
                <a href="https://bigwebx.com/" class="text-decoration-none text-muted">Custom Theme </a><br>
            </div>
        </div>
<br>
        <div class="col">
            <div class="col"><p><strong>Profile</strong></p>
            </p><a href="{% url 'Myprofile' %}" class="text-decoration-none text-muted">My Profile </a><br>
              <a href="myadmin/" class="text-decoration-none text-muted">My Admin</a><br>
                <a href="admin/password_change/" class="text-decoration-none text-muted">Change Password</a>

            </div>
        </div>

         <div class="col">
            <div class="col"><p><strong>Forums</strong></p>
              <a href="http://forum.webpres.org/" class="text-decoration-none text-muted">Discussions </a><br>
              <a href="#" class="text-decoration-none text-muted">Join Team </a><br>
              <a href="#" class="text-decoration-none text-muted">Share Code </a><br>
            </div>
        </div>

         <div class="col">
            <div class="col"><p><strong>Sponsore</strong></p>
              <a href="sponsored_page/" class="text-decoration-none text-muted">Individual </a><br>
              <a href="sponsored_page/" class="text-decoration-none text-muted">Business </a><br>
            </div>
        </div>

     </div>

</div>
{% endblock %}



