{% block footer %}
{% load static %}
</br>
</br>
</br>
</br>



<div class="container flex">

    <h3>WebPres.org</h3>
     <div class="row">
        <div class="col">
            <div class="col"><p><strong>Blog</strong></p>
              <a href="post/" class="text-decoration-none">Read Post </a><br>
              <a href="post/create/" class="text-decoration-none">Create Post </a>

            </div>
        </div>

        <div class="col">
            <div class="col"><p><strong>Docs</strong></p>
              <a href="https://docs.webpres.org/" class="text-decoration-none">Documentation </a><br>
              <a href="#" class="text-decoration-none">Downloads </a><br>
              <a href="#" class="text-decoration-none">Fork </a>
            </div>
        </div>
<br>
        <div class="col">
            <div class="col"><p><strong>Addon</strong></p>
              <a href="http://bigwebx.com/" class="text-decoration-none">Domains </a><br>
              <a href="http://bigwebx.com/" class="text-decoration-none">Hosting </a><br>
                <a href="http://bigwebx.com/" class="text-decoration-none">Custom Website </a><br>
                <a href="http://bigwebx.com/" class="text-decoration-none">Custom Theme </a><br>
            </div>
        </div>
<br>
        <div class="col">
            <div class="col"><p><strong>Profile</strong></p>
            </p><a href="/myprofile" class="text-decoration-none">My Profile </a><br>
              <a href="/myadmin" class="text-decoration-none">My Admin</a><br>
                <a href="admin/password_change/" class="text-decoration-none">Change Password</a>

            </div>
        </div>

         <div class="col">
            <div class="col"><p><strong>Forums</strong></p>
              <a href="http://forum.webpres.org/" class="text-decoration-none">Discussions </a><br>
              <a href="#" class="text-decoration-none">Join Team </a><br>
              <a href="#" class="text-decoration-none">Share Code </a><br>
            </div>
        </div>

         <div class="col">
            <div class="col"><p><strong>Sponsore</strong></p>
              <a href="sponsored_page/" class="text-decoration-none">Individual </a><br>
              <a href="sponsored_page/" class="text-decoration-none">Business </a><br>
            </div>
        </div>

     </div>

</div>
{% endblock %}



