{% block footer %}
{% load static %}
</br>
</br>
</br>
</br>


<hr/>
            <div id="footer" class="position-absolute" >
                <div class="container">
                <div class="container flex">
                    <p class="text-muted text-left">&copy;
                        {% now 'Y' %} WebPres.org
                        Powered by: <a class="" href="https://www.ronyman.com/"> <img src="{% static 'Assets/uploads/ronyman-logo.png'%} " width="3%">ronyman.com</a></p>

                        <div class=" text text-right" role="alert">
                                <a href="/privacy/" class="text-reset text-decoration-none">Privacy Policy.|</a>
                                <a href="/terms/" class="text-reset text-decoration-none" >Terms of Used.|</a>
                                <a href="/contact/" class="text-reset text-decoration-none">Contact Us.</a>

                         </div>
            </div>
         </div>

        </div>

{% endblock %}

