{% load i18n %}
{% load static %}
{% load bootstrap5 %}
{% block head-meta %}
<!DOCTYPE html>
<html lang="en">
<head>
  	<meta charset="utf-8">
  	<!--Add keywords that describe your project between the quotation marks. This helps search engines find and index your content-->
    <meta name="keywords" content="WebPres.org , Post List.">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    <meta charset="UTF-8">
     {% block bootstrap5_title %} Blog Post | WebPres.org{% endblock %}
</head>
<div class="p-3 mb-2 bg-dark text-white " style=" width: 400px;
  margin: auto;">
    <div class="text text-center" style="
  margin: auto;">
         <img src="{% static 'Assets/brand/webpres-logo.png'%} " alt="" width="80" height="80">
    </div>
  <div class="card-body">
     <div class="container">
       {% block content %}
         {% for i in object_list %}
             <div class="article">
             <h3><a href="">{{ i.title }}</a></h3>
               <p>{{ i.body }}</p>
            </div>
         {% endfor %}
        {% endblock content %}
     </div>
      </div>
    </div>
</div>
 </body>
</html>